@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: rgb(16, 63, 102);
}

.App {
  display: grid;
  grid-template-columns: 200px auto;
}

.challenge-selector {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.challenge-button-true {
  background-color: #444;
  color: #fff;
}
